body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    padding-top: 70px;

    background-image: url("bg.png");
}
nav a {
    background: #ffca27;
}
h1{
  font-size: 2em;
}

h2{
  font-size: 1.2em;
}
.main-content {
    position: relative;
    /*top: 200px;*/
}
.navbar {
    background: #ffca27;
    border: 0;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: #ffca27;
    color: #5d5d5d;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #ffca27;
    color: white;
}

nav {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.navbar-brand {
    color: #5d5d5d;
}
#brand {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 1.2em;
}
#brand:hover {
    color: white;
}
li {
    background: white;
}
.card {
  border-width: 1px;
  border-style: solid;
  border-color: #b2b2b2;

  background-color: #f4f4f4;
  padding: 50px;

  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}


/* animation */
.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}
.left-in {
    position: relative;
    animation-name: left-in;
    animation-duration: 1s;

}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes left-in {
    0% {
        left: 20px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }

}