body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    padding-top: 200px;

    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
nav a {
    background: #ffca27;
}
h1{
  font-size: 2em;
  font-weight: 300;
}

h2{
  font-size: 1.2em;
  font-weight: 300;
}
.main-content {
    position: relative;
    /*top: 200px;*/
}
.navbar {
    background: #ffca27;
    border: 0;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: #ffca27;
    color: #5d5d5d;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #ffca27;
    color: white;
}

.navbar-nav li a {
 line-height: 60px;
}

.logo {
  display: inline-block;
  align: left;
}

nav {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.navbar-brand {
    color: #5d5d5d;
}
#brand {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 1.2em;
}

li {
    background: white;
}
.card {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ececec;

  background-color: #f4f4f4;
  padding: 50px;
    opacity: 0.9;

  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}
.firebaseui-card-content {
    padding-left: 70px;
    padding-right: 70px;
    margin: 0;
}


/* animation */
.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}
.left-in {
    position: relative;
    animation-name: left-in;
    animation-duration: 1s;

}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes left-in {
    0% {
        right: 20px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 0.9;
    }

}
