body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    padding-top: 70px;

    background-image: url("bg.png");
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.2em;
}
.main-content {
    position: relative;
    top: 200px;
}
.navbar {
    background: #ffca27;
    border: 0;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: #c79a00;
}
nav {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.navbar-brand {
    color: #5d5d5d;
}
nav a {
    color: #5d5d5d;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: #b2b2b2;

  background-color: #f4f4f4;
  padding: 50px;

  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}
